// Variables
@use 'variables';

// Bootstrap
@use 'bootstrap/scss/bootstrap';
@use 'bootstrap-icons/font/bootstrap-icons.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bs-body-bg);
    overflow: hidden;
    height: 100vh;
}

a {
    color: #7386D5;
}

[type="checkbox"]:checked {
    background-color: #7386D5;
    border-color: #7386D5;
}

#collapse-sidebar-btn,
#save-btn,
#add-btn{
    background: #7386D5;
    color: var(--bs-body-bg);
}

#settings-btn {
    background: #d573b8;
    color: var(--bs-body-bg);
}

#add-feed-btn {
    background: rgba(var(--bs-success-rgb));
    color: var(--bs-body-bg);
}

#edit-feed-btn {
    background: rgba(var(--bs-warning-rgb));
    color: var(--bs-body-bg);
}

#delete-feed-btn {
    background: rgba(var(--bs-danger-rgb));
    color: var(--bs-body-bg);
}

.preview-feed-item-btn,
.preview-feed-item-btn:hover {
    background: #7386d5;
    color: var(--bs-body-bg);
    margin-right: 20px;
}

#sidebar {
    background: #7386D5;
    max-width: 300px;
    min-width: 150px;
    height: 100vh;
}

#sidebar-nav {
    background: #7386D5;
    height: 100vh;
    overflow-y: auto;
}

#feed-title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-item {
    display: flex !important;
    align-items: center;
    background: #7386D5;
    color: var(--bs-body-bg);
    white-space: nowrap;
    min-height: 35px;
}

.list-group-item:hover {
    color: #7386D5;
    background: var(--bs-body-bg);
}

.list-group-item img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

main {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.btn-toolbar {
    flex-shrink: 0;
}

.card-preview-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

#preview-feed-item-iframe {
    width: 100%;
    height: 70vh;
}

#preview-loading-spinner {
    background-color: var(--bs-body-bg);
    transition: opacity 0.3s ease;
}